<div class="head">
  <contact-details [contact]="selected"></contact-details>
  <hr style="margin-left: -1em" />
</div>
<sms-message *ngFor="let message of (smsMessages | async)" [sms]="message"></sms-message>
