:host() {
  background-color: #ebebeb;
  display: block;
  padding-top: 6em;
  padding-left: 1em;
  height: calc(calc(100% - 2em) - 6em);
}

div.head{
  width: 100%;
  background: #ebebeb;
  z-index: 1;
  position: fixed;
  margin-top: -6em;
  height: 5em;
}
