/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  margin: 0px;
  padding: 0px;

  height: 100%;
  width: 100%;

  font-family: 'Roboto', sans-serif;
}
