:host() {
  display: flex;
  margin-bottom: 2em;
}

:host(.received) {
  flex-direction: row;
}

:host(.sent) {
  flex-direction: row-reverse;
}

.text {
  min-height: 1em;
  padding: 8px;

  margin-top: auto;
  margin-bottom: auto;

  border-style: solid;
  border-radius: 4px;
  border-color: black;
  border-width: 2px;

  white-space: pre-line;
}

img {
  width: 4em;
  height: 4em;
  opacity: 0.6;
  background-color: #d6d6d6;
  margin: 0em 0.5em;
  border: 3px #ebebeb;
  border-radius: 2px;
}
