:host() {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.selected {
  background-color: #d6d6d6
}


contact-details {
  margin-left: 0em;
  width: 10em;
}

img {
  margin: auto auto auto auto;
  background-color: #ebebeb;
  width: 4em;
  opacity: 0.6;

  height: 4em;
  border-radius: 3px;
}
