:host{
  display: block;

  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;
}

header {
  background-color: #cbe8ba;
  color: #92d36e;

  height: 4em;
  margin: 0px;
  padding: 1em;
}

.mat-nav-list .mat-list-item {
  height: 5em;
}

mat-sidenav-container {
  height: calc(100% - 6em);

}

mat-sidenav {
  width: 16em;
}

contact-nav-item.selected{
  background-color: #ebebeb;
}

sms-messages-list {
  display: block;
  overflow-y: scroll;
  height: calc(100% - 1em);
}

textarea {
  position: fixed;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  bottom: 0px;
}
