<header>
  <h1>SMS for VOIP.MS</h1>
</header>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item class="contact" *ngFor="let contact of contacts">
        <contact-nav-item [contact]="contact" [ngClass]="{selected: contact==selected}" (click)="selected = contact"></contact-nav-item>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <sms-messages-view [selected]="selected"> </sms-messages-view>
    <textarea matInput rows="3" placeholder="Send a message"></textarea>
  </mat-sidenav-content>
</mat-sidenav-container>
